:root{
    --color-primary: #6C9BCF;
    --color-primary-light: #6c9acf69;
    --color-white: #fff;
    --color-background: #f6f6f9;
    --color-info-dark: #7d8da1;
    --color-text: #000000;
    --user-bg: rgba(0, 0, 0, 0.5);
}